
#counter{
		margin-left:300px;
}

#heading{

	margin-left: 300px;
	color: white;
}

.card{
	max-width: 800px; 
	margin: 10px 4px 4px 4px;
	border-radius: 25px;
}

#form-body{
	margin : 70px 550px 50px 550px;
}

a{
	color:white;
	
}

body{
	background-color: #cceabb;
}

#getter{
	color: black;
	margin-left: 400px;
}